# Backend
PORT=5002
PUBLIC_API_BASE_URL=http://localhost:5002
PUBLIC_FRONTEND_URL=http://localhost:5274

# Database
MONGODB_URI=mongodb://localhost:27018/platform

# Redis
REDIS_HOST=localhost
REDIS_PORT=6378
REDIS_PASSWORD=
REDIS_DB=0
